<h1 class="cvp">Meet Leo. The elegant excerise app ...</h1>
<h4 class="cvp-sub">Choose a muscle group you'd like to work out</h4>

<!-- LEO! -->
<div id="box-wrapper">

	<!-- leo -->
	<div id="leo">
 		<%= image_tag "muscles-body-02-02.png", style: "width: 150%" %>
	</div>

	<!-- biceps -->
	<a href="<%= muscle_path(@muscles[4].name) %>">
		<div id="bicep-l" class="animated bounceInDown biceps">
			<%= image_tag "muscles-body-02-bicep-l-03.svg", style: "width: 100%" %>
		</div>
	</a>
	<a href="<%= muscle_path(@muscles[4].name) %>">
		<div id="bicep-r" class="animated bounceInDown biceps">
			<%= image_tag "muscles-body-02-bicep-r-10.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- delts -->
	<a href="<%= muscle_path("Deltoids") %>">
		<div id="delt-l" class="animated bounceInDown delts">
			<%= image_tag "muscles-body-02-delt-l-05.svg", style: "width: 100%" %>
		</div>
	</a>
	<a href="<%= muscle_path("Deltoids") %>">
		<div id="delt-r" class="animated bounceInDown delts">
			<%= image_tag "muscles-body-02-delt-r-11.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- obliques -->
	<a href="<%= muscle_path("Obliques") %>">
		<div id="obliques" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-obliques-04-07.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- pecs -->
	<a href="<%= muscle_path("Pectorals") %>">
		<div id="pecs" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-pec-04.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- abs -->
	<a href="<%= muscle_path("Abdominals") %>">
		<div id="abs" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-abs-06.svg", style: "width: 100%" %>
		</div>
	</a>
	
	<!-- traps -->
	<a href="<%= muscle_path("Trapezius") %>">
		<div id="traps" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-traps-08.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- quads -->
	<a href="<%= muscle_path("Quadriceps") %>">
		<div id="quads" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-quads-09.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- tibias -->
	<a href="<%= muscle_path("Tibialis Anterior") %>">
		<div id="tibia-l" class="animated bounceInDown tibias">
			<%= image_tag "muscles-body-02-tibia-l-12.svg", style: "width: 100%" %>
		</div>
	</a>

	<a href="<%= muscle_path("Tibialis Anterior") %>">
		<div id="tibia-r" class="animated bounceInDown tibias">
			<%= image_tag "muscles-body-02-tibia-r-13.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- forearms -->
	<a href="<%= muscle_path("Forearms") %>">
		<div id="forearm-l" class="animated bounceInDown forearms">
			<%= image_tag "muscles-body-02-forearm-l-14.svg", style: "width: 100%" %>
		</div>
	</a>

	<a href="<%= muscle_path("Forarms") %>">
		<div id="forearm-r" class="animated bounceInDown forearms">
			<%= image_tag "muscles-body-02-forearm-r-15.svg", style: "width: 100%" %>
		</div>
	</a>

</div>

	<div class="quick-view animated fadeIn" id="quick-view-abs" hidden>
		<h3><%= @muscles[1].name %></h3>
		<p><%= @muscles[1].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-biceps" hidden>
		<h3><%= @muscles[4].name %></h3>
		<p><%= @muscles[4].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-delts" hidden>
		<h3><%= @muscles[6].name %></h3>
		<p><%= @muscles[6].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-pecs" hidden>
		<h3><%= @muscles[5].name %></h3>
		<p><%= @muscles[5].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-obliques" hidden>
		<h3><%= @muscles[0].name %></h3>
		<p><%= @muscles[0].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-traps" hidden>
		<h3><%= @muscles[3].name %></h3>
		<p><%= @muscles[3].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-quads" hidden>
		<h3><%= @muscles[2].name %></h3>
		<p><%= @muscles[2].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-tibias" hidden>
		<h3><%= @muscles[8].name %></h3>
		<p><%= @muscles[8].description %></p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-forearms" hidden>
		<h3><%= @muscles[7].name %></h3>
		<p><%= @muscles[7].description %></p>
		<a>Click muscle group to read more...</a>
	</div>