<h1 class="cvp">Meet Leo. The elegant excerise app ...</h1>
<h4 class="cvp-sub">Choose a muscle group you'd like to work out</h4>

<!-- LEO! -->
<div id="box-wrapper">

	<!-- leo -->
	<div id="leo">
 		<%= image_tag "muscles-body-02-02.png", style: "width: 150%" %>
	</div>

	<!-- biceps -->
	<a href="https://google.com">
		<div id="bicep-l" class="animated bounceInDown biceps">
			<%= image_tag "muscles-body-02-bicep-l-03.svg", style: "width: 100%" %>
		</div>
	</a>
	<a href="https://google.com">
		<div id="bicep-r" class="animated bounceInDown biceps">
			<%= image_tag "muscles-body-02-bicep-r-10.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- delts -->
	<a href="https://google.com">
		<div id="delt-l" class="animated bounceInDown delts">
			<%= image_tag "muscles-body-02-delt-l-05.svg", style: "width: 100%" %>
		</div>
	</a>
	<a href="https://google.com">
		<div id="delt-r" class="animated bounceInDown delts">
			<%= image_tag "muscles-body-02-delt-r-11.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- obliques -->
	<a href="https://google.com">
		<div id="obliques" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-obliques-04-07.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- pecs -->
	<a href="https://google.com">
		<div id="pecs" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-pec-04.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- abs -->
	<a href="https://google.com">
		<div id="abs" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-abs-06.svg", style: "width: 100%" %>
		</div>
	</a>
	
	<!-- traps -->
	<a href="https://google.com">
		<div id="traps" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-traps-08.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- quads -->
	<a href="https://google.com">
		<div id="quads" class="animated bounceInDown">
			<%= image_tag "muscles-body-02-quads-09.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- tibias -->
	<a href="https://google.com">
		<div id="tibia-l" class="animated bounceInDown tibias">
			<%= image_tag "muscles-body-02-tibia-l-12.svg", style: "width: 100%" %>
		</div>
	</a>

	<a href="https://google.com">
		<div id="tibia-r" class="animated bounceInDown tibias">
			<%= image_tag "muscles-body-02-tibia-r-13.svg", style: "width: 100%" %>
		</div>
	</a>

	<!-- forearms -->
	<a href="https://google.com">
		<div id="forearm-l" class="animated bounceInDown forearms">
			<%= image_tag "muscles-body-02-forearm-l-14.svg", style: "width: 100%" %>
		</div>
	</a>

	<a href="https://google.com">
		<div id="forearm-r" class="animated bounceInDown forearms">
			<%= image_tag "muscles-body-02-forearm-r-15.svg", style: "width: 100%" %>
		</div>
	</a>

</div>

	<div class="quick-view animated fadeIn" id="quick-view-abs" hidden>
		<h3>Abdominals</h3>
		<p>DIY hoodie farm-to-table irony Thundercats selvage Austin dreamcatcher, tattooed Pitchfork polaroid gastropub. Post-ironic lumbersexual DIY Odd Future, bitters kitsch blog yr chambray. Roof party vegan umami readymade hashtag put a bird on it beard try-hard aesthetic...</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-biceps" hidden>
		<h3>Biceps</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-delts" hidden>
		<h3>Deltoids</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-pecs" hidden>
		<h3>Pectorals</h3>
		<p>DIY hoodie farm-to-table irony Thundercats selvage Austin dreamcatcher, tattooed Pitchfork polaroid gastropub. Post-ironic lumbersexual DIY Odd Future, bitters kitsch blog yr chambray. Roof party vegan umami readymade hashtag put a bird on it beard try-hard aesthetic...</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-obliques" hidden>
		<h3>Obliques</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-traps" hidden>
		<h3>Trapezius</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-quads" hidden>
		<h3>Quadraceps</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-tibias" hidden>
		<h3>Tibialus Anterior</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>

	<div class="quick-view animated fadeIn" id="quick-view-forearms" hidden>
		<h3>Forearms</h3>
		<p>Sustainable hoodie disrupt Truffaut, quinoa delectus ugh literally veniam mumblecore proident Odd Future. Nesciunt lo-fi Kickstarter, synth cupidatat DIY pickled messenger bag. Cupidatat tempor est PBR, sapiente qui Marfa 3 wolf moon Austin nulla church-key normcore.</p>
		<a>Click muscle group to read more...</a>
	</div>