
<div class="col-sm-4 col-sm-offset-4">
<div id="updatedbox">
<h1>update your profile</h1>
  <%= form_for @user do |f| %>
    <%= f.label :name, "name" %>:
      <%= f.label :name, "name" %>:
      <%= f.text_field :name, :placeholder => "Full Name", class:"form-control", required: true %><br>
      <%= f.label :location, "Location" %>:
      <%= f.text_field :location, :placeholder => "location", class:"form-control", required: true %><br>
      <%= f.label :weight, "Weight" %>:
      <%= f.text_field :weight, :placeholder => "weight", class:"form-control", required: true %><br>
      <%= f.label :height, "Height" %>:
      <%= f.text_field :height, :placeholder => "height", class:"form-control", required: true %><br>
      <%= f.label :bfp, "Body Fat Percentage" %>:
      <%= f.text_field :bfp, :placeholder => "bfp", class:"form-control", required: true %><br>
      <%= f.label :bmi, "Body Mass Index" %>:
      <%= f.text_field :bmi, :placeholder => "bmi", class:"form-control", required: true %><br>
      <%= f.label :username, "Username" %>:
      <%= f.text_field :username, :placeholder => "username", class:"form-control", required: true %><br>
      <%= f.label :email, "Email" %>:
      <%= f.email_field :email, :placeholder => "Email", class:"form-control", required: true %><br>
      <%= f.label :password, "Password" %>:
      <%= f.password_field :password, :placeholder => "Password", class:"form-control", required: true %><br>
     <hr>
    <%= f.submit "save updated information", class:"btn btn-primary" %>
<% end %>
</div>
</div>
</div>