<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>


    <%= form_for @user, :html => {:id => "new_user"} do |f| %>
      <%= f.label :first_name, "First Name" %>:
      <%= f.text_field :first_name, :placeholder => "First Name", class:"form-control", required: true %><br>
      <%= f.label :last_name, "Last Name" %>:
      <%= f.text_field :last_name, :placeholder => "Last Name", class:"form-control", required: true %><br>
      <%= f.label :location, "Location" %>:
      <%= f.text_field :location, :placeholder => "location", class:"form-control", required: true %><br>
      <%= f.label :weight, "Weight" %>:
      <%= f.text_field :weight, :placeholder => "weight", class:"form-control", required: true %><br>
      <%= f.label :height, "Height" %>:
      <%= f.text_field :height, :placeholder => "height", class:"form-control", required: true %><br>
      <%= f.label :bfp, "Body Fat Percentage" %>:
      <%= f.text_field :bfp, :placeholder => "bfp", class:"form-control", required: true %><br>
      <%= f.label :bmi, "Body Mass Index" %>:
      <%= f.text_field :bmi, :placeholder => "bmi", class:"form-control", required: true %><br>
      <%= f.label :username, "Username" %>:
      <%= f.text_field :username, :placeholder => "username", class:"form-control", required: true %><br>
      <%= f.label :email, "Email" %>:
      <%= f.email_field :email, :placeholder => "Email", class:"form-control", required: true %><br>
      <%= f.label :password, "Password" %>:
      <%= f.password_field :password, :placeholder => "Password", class:"form-control", required: true %><br>
      <%= f.label :avatar, "Profile Picture" %>
      <%= f.file_field :avatar %>
      <hr>
     <%= f.submit "Signup", class:"btn btn-primary" %>
   <% end %>

    </div>  
  </div>
</div>