<h1> welcome, <%= @user.name %></h1> <br>

<div class="container">
<div class="row">

<div class="col-xs-6 col-md-4">

  <div id ="userinformation">
  <h3>my information</h3>
  <p>Location: <%= @user.location %></p><br>
  <p>Weight: <%= @user.weight %></p><br>
  <p>Height: <%= @user.height %></p><br>
  <p>BFP: <%= @user.bfp%></p><br>
  <p>Goals: <%= @user.goal %></p>
  <% if current_user == page_user %>
  <p><%= link_to "edit user profile", edit_user_path(@user) %></p>
  <% end %>
</div>
</div>
</div>