<!-- Solid black background -->
<style>
    body {
    background-color: #101010;
    background-image: none !important;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-3">

    <!-- USER INFO -->
    <%= image_tag @user.avatar.url(:medium), class: "img-circle" %> <br><br>

    <h3><%= @user.full_name.titleize %></h3>
    <p class="grey">Location: <%= @user.location %></p>
    <p class="grey">Weight: <%= @user.weight %> lbs</p>
    <p class="grey">Height: <%= @user.height %></p>
    <p class="grey">BFP: <%= @user.bfp%> %</p>
    <p class="grey">Goals: <%= @user.goal %></p>
    <% if current_user == page_user %>
    <p><%= link_to "Edit your profile", edit_user_path(@user) %></p>
    <% end %>
    </div>

    <!-- CALENDAR -->
    <div class="col-md-9">
        <% if current_user[:username] == params[:username] %>
            <h1>My Workout Schedule</h1>
        <% else %>
            <h1><%= @user.first_name.titleize %>'s Workout Schedule</h1>
        <% end %>
        <br>
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#day-1" aria-controls="sunday" role="tab" data-toggle="tab">Sun</a></li>
                <li role="presentation"><a href="#day-2" aria-controls="monday" role="tab" data-toggle="tab">Mon</a></li>
                <li role="presentation"><a href="#day-3" aria-controls="tuesday" role="tab" data-toggle="tab">Tue</a></li>
                <li role="presentation"><a href="#day-4" aria-controls="wednesday" role="tab" data-toggle="tab">Wed</a></li>
                <li role="presentation"><a href="#day-5" aria-controls="thursday" role="tab" data-toggle="tab">Thu</a></li>
                <li role="presentation"><a href="#day-6" aria-controls="friday" role="tab" data-toggle="tab">Fri</a></li>
                <li role="presentation"><a href="#day-7" aria-controls="saturday" role="tab" data-toggle="tab">Sat</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <% (1..7).each do |i| %>
                    <div role="tabpanel" class="tab-pane <% if i==1 %>active<% end %>" id="day-<%= i %>">
                        <br>
                        <div class="col-md-12 animated slideInUp">
                            <% if @user.appointments.where("day = '#{i}'").empty? %>
                                <h3>Rest day?</h3>
                                <h5>It seems there's nothing planned for today ...</h5>
                                <%= link_to "Search for workouts here...", root_path %>
                            <% else %>
                                <div class="row">
                                    <h3>Workouts</h3>
                                    <% @user.workouts.where("day = '#{i}'").each do |workout| %>
                                        <div class="pill" role="button" data-toggle="collapse" href="#<%= workout.id %>-<%= i %>" aria-expanded="false" aria-controls="<%= workout.id %>-<%= i %>">
                                            <center>
                                            <%= image_tag "dumbbell-icon-01.svg"%></center><br>
                                            <h4><%= workout.name %></h4>
                                        </div>
                                    <% end %>
                                    <br>
                                    <h3>Supplements</h3>
                                    <% @user.workouts.where("day = '#{i}'").each do |workout| %>
                                        <% if workout.musclegroup %>
                                            <% workout.musclegroup.supplements.each do |supp| %>
                                                <div class="pill" role="button" data-toggle="collapse" href="#<%= supp.id %>-<%= i %>-s" aria-expanded="false" aria-controls="<%= supp.id %>-<%= i %>-s">
                                                    <center>
                                                    <%= image_tag "pill-icon-02.svg"%></center><br>
                                                    <h4><%= supp.name %></h4>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    <% @user.workouts.where("day = '#{i}'").each do |workout| %>
                                        <div class="collapse left" id="<%= workout.id %>-<%= i %>">
                                          <h3 class="blue"><%= workout.name %></h3>
                                          <hr>
                                          <p class="grey"><%= workout.description %></p>
                                        </div>
                                    <% end %>
                                    <% @user.workouts.where("day = '#{i}'").each do |workout| %>
                                        <% if workout.musclegroup %>
                                            <% workout.musclegroup.supplements.each do |supp| %>
                                                <div class="collapse left" id="<%= supp.id %>-<%= i %>-s">
                                                    <h3 class="blue"><%= supp.name %></h3>
                                              <hr>
                                              <p class="grey"><%= supp.description %></p>
                                            </div>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>

              </div>

            </div>
    </div>
  </div>
</div>
