<div class="container">
  <div class="row">
    <div class="col-md-3">

    <!-- USER INFO -->
    <%= image_tag @user.avatar.url(:medium), class: "img-circle" %> <br><br>

    <h3>My information</h3>
    <p>Location: <%= @user.location %></p>
    <p>Weight: <%= @user.weight %></p>
    <p>Height: <%= @user.height %></p>
    <p>BFP: <%= @user.bfp%></p>
    <p>Goals: <%= @user.goal %></p>
    <% if current_user == page_user %>
    <p><%= link_to "Edit your profile", edit_user_path(@user) %></p>
    <% end %>
    </div>

    <!-- CALENDAR -->
    <div class="col-md-9">

    </div>
  </div>
</div>
