<%= image_tag @user.avatar.url(:medium), class: "img-circle" %> <br><br>
<h1> welcome, <%= @user.first_name %></h1> <br>
<p><%= @user.location %></p><br>
<p><%= @user.weight %></p><br>
<p><%= @user.height %></p><br>
<p><%= @user.bfp%></p><br>
<p><%= @user.goal %></p>

<% end %>